{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ title }} - My Django Application</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />-->
    <!-- Basic -->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge" />-->
    <!-- slider stylesheet -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'app/content/style.css' %}" rel="stylesheet" />
    <!-- responsive style -->
    <link href="{% static 'app/content/responsive.css' %}" rel="stylesheet" />
</head>

<!--<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div>
    </div>

    <div class="container body-content">-->
<body class="{{ body_class }}">
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <span>
                            ChatBot Provider
                        </span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}"> About </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="do.html"> What we do </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="portfolio.html"> Portfolio </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">Contact us</a>
                                </li>
                            </ul>
                            <!--{% include 'app/loginpartial.html' %}-->
                            <div class="user_option">
                                <a href="">
                                    <img src="{% static 'app/images/user.png' %}" alt="">
                                </a>
                                <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                    <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- end header section -->
        <!-- slider section -->
        {% block slider_section %}{% endblock %}
        <!-- end slider section -->
    </div>
        {% block content %}{% endblock %}
        <!-- info section -->
        <section class="info_section ">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="info_contact">
                            <h5>
                                About Shop
                            </h5>
                            <div>
                                <div class="img-box">
                                    <img src="{% static 'app/images/location-white.png' %}" width="18px" alt="">
                                </div>
                                <p>
                                    Address
                                </p>
                            </div>
                            <div>
                                <div class="img-box">
                                    <img src="{% static 'app/images/telephone-white.png' %}" width="12px" alt="">
                                </div>
                                <p>
                                    +01 1234567890
                                </p>
                            </div>
                            <div>
                                <div class="img-box">
                                    <img src="{% static 'app/images/envelope-white.png' %}" width="18px" alt="">
                                </div>
                                <p>
                                    demo@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_info">
                            <h5>
                                Informations
                            </h5>
                            <p>
                                ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info_insta">
                            <h5>
                                Instagram
                            </h5>
                            <div class="insta_container">
                                <div>
                                    <a href="">
                                        <div class="insta-box b-1">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="insta-box b-2">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                </div>

                                <div>
                                    <a href="">
                                        <div class="insta-box b-3">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="insta-box b-4">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a href="">
                                        <div class="insta-box b-3">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                    <a href="">
                                        <div class="insta-box b-4">
                                            <img src="{% static 'app/images/insta.png' %}" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="info_form ">
                            <h5>
                                Newsletter
                            </h5>
                            <form action="">
                                <input type="email" placeholder="Enter your email">
                                <button>
                                    Subscribe
                                </button>
                            </form>
                            <div class="social_box">
                                <a href="">
                                    <img src="{% static 'app/images/fb.png' %}" alt="">
                                </a>
                                <a href="">
                                    <img src="{% static 'app/images/twitter.png' %}" alt="">
                                </a>
                                <a href="">
                                    <img src="{% static 'app/images/linkedin.png' %}" alt="">
                                </a>
                                <a href="">
                                    <img src="{% static 'app/images/youtube.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- end info_section -->
        <!-- footer section -->
        <section class="container-fluid footer_section">
            <p>
                &copy; 2023 All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </section>
        <!-- footer section -->
        <!--<script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>-->
        <script type="text/javascript" src="{% static 'app/scripts/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
        <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
        <!--<script src="{% static 'app/scripts/respond.js' %}"></script>-->
        <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>-->
        {% block scripts %}{% endblock %}

</body>
</html>
